body {
  font-family: Helvetica;
  text-align: center;
}

h1 {
  font-size: 70px
  font-weight: bold;
  color: white;
}
.background {
  background-image: url("../images/background.png") ;
  }
.info {
  color: white;
  font-size: 18px;
}
h2 {
  font-size: 32px;
  font-weight: bold;
}
h3, .NY{
  font-size: 23px;
  font-weight: bold;
}
.NY {
  color: white;
}
.trade {
  font-size: 11px;
  color: white;
  background-color: dimgray;
}
